<!DOCTYPE html>
<html lang="en">

<head>

  <title>Silkky.Cloud</title>

  <!-- Meta -->
  <%- include('../partials/meta') %>

  <!-- Scripts and Styles -->
  <%- include('../partials/link') %>

</head>

<body>
  
  <!-- Navigation -->
  <%- include('../partials/nav') %>

  <br>
  <br>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron -->
    <%- include('../partials/jumbotron') %>
    <%- include('../partials/alert') %>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Searx</h4>
            <p class="card-text">Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.</p>
          </div>
          <div class="card-footer">
            <a href="https://searx.silkky.cloud/" class="btn btn-outline-light" target="_blank">Search! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">PrivateBin</h4>
            <p class="card-text">PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted in the browser using 256bit AES.</p>
          </div>
          <div class="card-footer">
            <a href="https://privatebin.silkky.cloud" class="btn btn-outline-light" target="_blank">Paste! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Sharedrop</h4>
            <p class="card-text">ShareDrop is a free web app that allows you to easily and securely share files directly between devices without uploading them to any server first.</p>
          </div>
          <div class="card-footer">
            <a href="https://drop.silkky.cloud" class="btn btn-outline-light" target="_blank">Drop! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Bitwarden</h4>
            <p class="card-text">Bitwarden offers the easiest and safest way for teams and individuals to store and share sensitive data from any device. Your private information is protected with end-to-end encryption before it ever leaves your device. <a class="link-light" href="https://hedgedoc.silkky.cloud/s/Q-3AMvzrr#" target="_blank">More information on security</a></p>
          </div>
          <div class="card-footer">
            <a href="https://vault.silkky.cloud" class="btn btn-outline-light" target="_blank">Vault! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Invidious</h4>
            <p class="card-text">Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.</p>
          </div>
          <div class="card-footer">
            <a href="https://invidious.silkky.cloud/" class="btn btn-outline-light" target="_blank">Watch! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Vikunja</h4>
            <p class="card-text">The to-do app to organize your life. Vikunja is an open-source, self-hosted to-do list application for all platforms.</p>
          </div>
          <div class="card-footer">
            <a href="https://tasks.silkky.cloud/" class="btn btn-outline-light" target="_blank">Organize! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">HedgeDoc</h4>
            <p class="card-text">The best platform to write and share markdown. HedgeDoc is an open-source collaborative markdown editor. With HedgeDoc you can easily collaborate on notes, graphs and even presentations in real-time.</p>
          </div>
          <div class="card-footer">
            <a href="https://hedgedoc.silkky.cloud" class="btn btn-outline-light" target="_blank">Markdown! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Etherpad</h4>
            <p class="card-text">Etherpad is a real-time collaborative rich text editor.</p>
          </div>
          <div class="card-footer">
            <a href="https://pad.silkky.cloud/" class="btn btn-outline-light" target="_blank">Edit! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <h4 class="card-title">Libreddit</h4>
            <p class="card-text">Libreddit is a private front-end like Invidious but for Reddit. Browse the coldest takes of r/unpopularopinion without being tracked.</p>
          </div>
          <div class="card-footer">
            <a href="https://libreddit.silkky.cloud/" class="btn btn-outline-light" target="_blank">Browse! <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
            </svg></a>
          </div>
        </div>
      </div>

  </div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>